.table-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.table-container {
  thead tr th {
    text-align: center;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
