.menu-container {
  img {
    padding-right: 5px;
  }
  .menu-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    color: #ffffff;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .menu-child {
    display: flex;
    flex-direction: column;
    background: #000c17;

    div {
      cursor: pointer;
      color: #ffffff;
      padding-left: 50px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
